<%= render "welcome/header" %>

<%= render 'instagram_card' %>

<div id="feed">
<ul class="small-block-grid-3">
  <% current_user.instagram_feed.each do |feed_item| %>
      <li>
        <div class="card">
          <div class="container">
            <div class="front">
              <%= image_tag feed_item.images.standard_resolution.url %>
            </div>

            <div class="back">
              <h5><%= feed_item.user.full_name %></h5>
              <p><%= link_to "#{feed_item.link}", feed_item.link %></p>
              <p><%= feed_item.caption.text %></p>
            </div>
          </div>
        </div>
      </li>
  <% end %>

    <% current_user.twitter_feed.each do |feed_item| %>
        <li>
            <div class="service">
                <div class="service-icon-box">
                    <div class="service-icon">
                        <%= image_tag feed_item.user.profile_image_url %>
                    </div>
                </div>
                <h4 class="service-heading">
                    <%= link_to feed_item.user.name, "http://www.twitter.com/" + feed_item.user.screen_name  %>
                </h4>
                <p class="service-description">
                    <%= feed_item.text %>
                </p>
            </div>
      <% end %>
        </li>
    </ul>
</div>